In [ ]:
import pandas as pd
from nsepython import equity_history
from pandas import ExcelWriter
import xlwt
pd.options.mode.chained_assignment = None

In [ ]:
#Reading stocks names

df_stocks = pd.read_excel('sample stocks.xlsx')
df_stocks.head()

       Stock Name                        SYMBOL
0  ACC LIMITED                           ACC
1  ADANI PORT & SEZ LTD                  ADANIPORTS
2  ADANI ENTERPRISES LIMITED             ADANIENT
3  ADANI POWER LTD                       ADANIPOWER
4  AMBUJA CEMENTS LTD                    AMBUJACEM

In [ ]:
stock_symbol = df_stocks['SYMBOL    ']

In [ ]:
# stocks Abbreviation
symbol = 'ACC'

# Equity 
series = "EQ"
        
#Start date
start_date = "12-07-2021"
        
#End date
end_date ="10-10-2021"
        
#Calling equity history to fetch the data from a given range
equity = equity_history(symbol,series,start_date,end_date)

In [ ]:
equity.head()

                        _id CH_SYMBOL CH_SERIES  ... __v     VWAP   mTIMESTAMP
0  6155a6fe5956820008176148       ACC        EQ  ...   0  2260.73  30-Sep-2021
1  6156f85b00c38500086c2ab2       ACC        EQ  ...   0  2238.74  01-Oct-2021
2  615aecfe00c38500088df6f1       ACC        EQ  ...   0  2266.32  04-Oct-2021
3  615c3e651728530008f0ad4c       ACC        EQ  ...   0  2267.74  05-Oct-2021
4  615d8fe07c2c3b00089ffad2       ACC        EQ  ...   0  2233.00  06-Oct-2021

[5 rows x 23 columns]

In [ ]:
def stockPrice(stock_symbol):
    
    #Master file
    writer = ExcelWriter('Sales_90_days.xls')
    
    for symbol  in stock_symbol:
        
        # Equity 
        series = "EQ"
        
        #Start date
        start_date = "12-07-2021"
        
        #End date
        end_date ="10-10-2021"
        
        #Calling equity history to fetch the data from a given range
        equity = equity_history(symbol,series,start_date,end_date)
        
        #checker if no data is available
        if len(equity.columns)==0:
            continue

        #sorting the date as it is in descending order
        equity=equity.sort_values(by = ['CH_TIMESTAMP'])
        
        #Selecting date and closing price of stocks
        closing_price = equity[['CH_TIMESTAMP','CH_CLOSING_PRICE']]
        
        # renaming columns
        closing_price.rename(columns = {'CH_TIMESTAMP':'DATE',
                                       'CH_CLOSING_PRICE':'CLOSING_PRICE'}
                                       ,inplace=True)
        
        #converting datframe to excel file along with adding sheets into existing files 
        closing_price.to_excel(writer ,sheet_name = f'{symbol}.NS',index = False)
    
    #saving 
    writer.save()
    
stockPrice(stock_symbol)

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/pandas/core/frame.py:5034: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(